<div class="global_initial_container">
  <h1>XQS: Leave Management Application</h1>
</div>


<div class="global_secondary_container">
  <div class="default_employee_container"
       [class.employee-container]="employee.role =='EMPLOYEE'"
       [class.admin-container]="employee.role == 'ADMIN'"
       [class.manager-container]="employee.role =='MANAGER'">
    <div class="hello_container"><h3>Hello</h3></div>
    <h4>{{employee.name}}</h4>
  </div>


  <h5 *ngIf="showManagerText">
    Manager:<span style="font-weight: 400; margin-left: 30px;">{{employee.manager}}</span>
  </h5>
  <h5 *ngIf="showRemainingLeave">
    Remaining leave:<span style="font-weight: 400; margin-left: 30px;">
    {{employeeDetailsObj}}</span>
  </h5>


</div>
