.global_initial_container {
  background: #ffffff;

  border: 1px solid;
}

h1 {
  color: black;
  margin-left: 90px;
}

.default_employee_container {
  height: 80px;
  width: 1440px;
  left: 453px;
  background: #8c8c8c;
}


.admin-container {
  height: 80px;
  width: 1440px;
  left: 453px;
  background: #05bed0;

}

.manager-container {
  height: 80px;
  width: 1440px;
  left: 453px;
  background: #F49E18;

}

.employee-container {
  height: 80px;
  width: 1440px;
  left: 453px;
  background: #97C13E;
}

h3 {
  padding-top: 23px;
  margin-left: 28px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.hello_container {
  width: 180px;
  height: 80px;


  background: #17242A;
}

h4 {
  position: absolute;
  width: 1177px;
  height: 48px;
  left: 640px;
  top: 130px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #FFFFFF;
}

h5 {
  margin-left: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

