<div class="global_initial_container">
  <h1>My Leaves</h1>
</div>

<div class="global_secondary_container">
  <table>
    <thead>
    <tr>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Days</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <!--TODO: should use ngFor for generating values fetched from database-->
    <tbody>
    <tr>
      <td>08/31/2022</td>
      <td>09/3/2022</td>
      <td>4</td>
      <td>Travel</td>
      <td>PENDING</td>
      <td>
        <button class="dark_shade_gray">Cancel</button>

      </td>
    </tr>

  </table>
</div>
