.global_initial_container{
  background: white;
  border: 1px solid black;
}
h1{
  color: black;
}
table {
  width: 1440px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;

  table-layout: fixed;

  border-collapse: collapse;
  border: 3px solid #020202;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 15%;
}


thead th:nth-child(6) {
  width: 15%;
}
thead th:nth-child(7) {
  width: 15%;
}
table th {
  padding: 5px;
  border: 1px solid black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

}

table td {
  padding: 5px;
  border: 1px solid black;
}

button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
  font-size: 15px;
  width: 80px;
  height: 30px;
}

.dark_shade_gray {
  background: #7D7B7B;
  color: white;
}


