<div class="global_initial_container">
  <h1>Apply Leave</h1>
</div>
<div class="global_secondary_container">
  <form [formGroup]="leaveFormGroup" (ngSubmit)="submitLeaveApplication(leaveFormGroup)" name="leaveFormGroup">
<!--  <form >-->
    <label>Start Date:<br><input type="date" formControlName="start_date" [(ngModel)]="startDate" (ngModelChange)="calculateTotalDaysAndDisplay()"></label>
    <br>
    <label>End Date: <br><input type="date" formControlName="end_date" [(ngModel)]="endDate" (ngModelChange)="calculateTotalDaysAndDisplay()"></label>
    <br>
    <label>Number of Days: <span style="color: #2B7A77;font-weight: 700;">{{this.displayNumberOfDaysLeave}}</span></label>
    <br>
    <label>Reason: <br><textarea name="reason_input" formControlName="leave_reason" ngModel ></textarea></label>
    <br>
    <br>
    <button class="general_submit_button">Submit</button>
  </form>


</div>
