
.sidebar-container {
  position: absolute;
  width: 390px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #17242A;
}

.align-first {
  margin-top: 52px;
}

label {
  color: white;
  margin-left: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: white;
}

ul {
  color: white;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

ul li {
  margin-top: 7px;
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;

}

ul a {
  text-decoration: none;
  color: white;
}

.option-container {
  margin-top: 65px;
  margin-left: 28px;
}

input {
  margin-left: 28px;
  width: 325px;
  height: 25px;

}

select {
  margin-left: 28px;
  width: 335px;
  height: 35px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fa fa-home {
  width: 50px;
  height: 50px;

}

.icon_container {
  padding: 5px;
  background: #245167;
  width: 30px;
  height: 30px;
  margin-left: 28px;
  margin-top: 28px;
}
button{

  background: #17242A;
  width: 50px;
  height: 50px;
}
