<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidebar-container">
  <div class="icon_container">
    <a [routerLink]="['/']">
      <span style="color: white;"><i class="fa fa-home fa-2x"></i></span>
    </a>
  </div>

  <div class="align-first">
    <label>Select User:</label><br>

    <select [(ngModel)]="selectedEmployeeId" (ngModelChange)="onEmployeeSelected()">
      <option *ngFor="let employee of employeeList"
              [value]="employee.id">{{employee.name}}&nbsp;&nbsp;&nbsp;&nbsp;({{employee.role}})
      </option>
    </select>
    <br>
    <br>
  </div>

  <div class="option-container">
    <h3 *ngIf="showEmployeeLabel">Employees:</h3>
    <ul>
      <li *ngIf="showViewAllEmployee"><a class="hover-underline-animation" [routerLink]="['/employee/view_all']">View All</a></li>
      <li *ngIf="showAddNewEmployee"><a class="hover-underline-animation" [routerLink]="['/employee/add']">Add New</a></li>
    </ul>
  </div>
  <div class="option-container">
    <h3 *ngIf="showAllLeavesLabel">Leaves:</h3>
    <ul>
      <li *ngIf="showViewAllLeaves"><a class="hover-underline-animation" [routerLink]="['/leave/view_all']">View All</a></li>
      <li *ngIf="showApplyLeave"><a class="hover-underline-animation" [routerLink]="['/leave/apply_leave']">Apply Leave</a></li>
      <li *ngIf="showMyLeave"><a class="hover-underline-animation" [routerLink]="['/leave/my_leave']">My Leave</a></li>
    </ul>
  </div>


</div>

<!--<p>sidebar works!</p>-->
