<div class="global_initial_container">
  <h1>Add Employee
      <button class="add_new_employee_submitButton" name="add_new_employee_submit">Submit</button>
  </h1>

</div>
<div class="global_secondary_container">
  <label>Name: <input type="text" name="add_new_employee_name_input"> </label><br>
  <label>Manager:
  <select name="managerSelector" id="add_new_employee_manager_selector">
    <option value="Dexter Sy">Dexter Sy</option>
    <option value="Mark B">Mark B</option>
    <option value="Vergil O.">Vergil O.</option>
  </select></label><br>
  <label>Total No. of Leaves: <input type="text" name="add_new_employee_total_number_of_leaves_input"> </label><br>
  <!--  Todo: use ngFor for iterating through the values of ROLE fetched from database-->
  <label>Role:
  <select name="roleSelector" id="add_new_employee_role_selector">
    <option value="MANAGER">MANAGER</option>
    <option value="EMPLOYEE">EMPLOYEE</option>
  </select></label>
</div>
