
.global_initial_container button {
  width: 151px;
  height: 44px;
  background: #DEF2F1;
  color: black;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-right: 30px;
}

label {
  display: inline-block;
  margin-left: 33px;
  margin-top: 25px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}



