<div class="global_initial_container">
  <h1>Add Employee</h1>

</div>
<div class="global_secondary_container">
  <!--  <form [formGroup]="addEmployeeForm" name="addEmployeeForm">-->
  <form [formGroup]="employeeFormGroup" (ngSubmit)="onEmployeeCreate(employeeFormGroup)" name="employeeFormGroup">
    <label>
      Name:
      <input required formControlName="name" ngModel class="input_class" style="left: 183px;" type="text"
             [placeholder]="'This is required'">
    </label>
    <!--    <h5 *ngIf="addEmployeeForm.controls['name'].errors?.['required']">*This is Required!</h5>-->
    <br>
    <label>Role:
      <select [(ngModel)]="chosenRole" (ngModelChange)="logChoice()" class="select_class" style="left: 200px;"
              formControlName="role" ngModel>
        <option *ngFor="let displayRole of role" value="{{displayRole}}">{{displayRole}}</option>
      </select>
    </label>
    <br>
    <label>Total No. of Leaves:
      <input required min="1" formControlName="annualLeave" ngModel class="input_class" style="left: 33px;"
             type="number">
    </label>
    <br>
    <label>Manager:
      <select required formControlName="managerId" ngModel class="select_class" style="left: 150px;">
        <option *ngFor="let manager of managerEmployees" value="{{manager.id}}">{{manager.name}}</option>
      </select>
    </label>
    <br>
    <br>
    <br>
    <button class="general_submit_button" name="add_new_employee_submit">Submit</button>
  </form>

</div>
