<div class="global_initial_container">
  <h1>Update Employee Details</h1>

</div>
<div class="global_secondary_container">

  <form [formGroup]="updateEmployeeForm" (ngSubmit)="onEmployeeUpdate(updateEmployeeForm)"
        name="updateEmployeeFormGroup">

    <br><br>
    <label>Name:
      <input required formControlName="name" ngModel class="input_class" style="left: 183px;" type="text"
             [placeholder]="'This is required'">
    </label>
    <br>
    <label>Role:
      <select [(ngModel)]="chosenRole" (ngModelChange)="showRemainingInputFieldsIfNotAdmin()" class="select_class"
              style="left: 200px;"
              formControlName="role" ngModel>
        <option *ngFor="let displayRole of role" value="{{displayRole}}">{{displayRole}}</option>
      </select>
    </label>
    <br>
    <label *ngIf="showInputManagerField">Manager:
      <select required formControlName="managerId" ngModel class="select_class" style="left: 150px;">
        <option value="" disabled selected>{{this.managerNamePlaceholder}}</option>
        <option *ngFor="let manager of managerEmployees" value="{{manager.id}}">{{manager.name}}</option>
      </select>
    </label>
    <br>
    <br>
    <br>
    <button class="general_submit_button">Submit</button>
  </form>

</div>
