<div class="global_initial_container">
  <h1>All Leaves</h1>
</div>
<div class="global_secondary_container">
  <table>

    <thead>
    <tr>
      <th scope="col">Applied By</th>
      <th scope="col">Manager</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Days</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <!--TODO: should use ngFor for generating values fetched from database-->
    <tbody>
    <tr>
      <td>Vergil O.</td>
      <td>Dexter Sy</td>
      <td>08/31/2022</td>
      <td>09/3/2022</td>
      <td>4</td>
      <td>
        <button class="approve">Approve</button>
        <button class="light_blueGreen_shade">Reject</button>
      </td>
    </tr>

  </table>

</div>
