<div class="global_initial_container">
  <h1>All Leaves</h1>
</div>
<div class="global_secondary_container">
  <table>

    <thead>
    <tr>
      <th scope="col">Applied By</th>
      <th scope="col">Manager</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Days</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <!--TODO: should use ngFor for generating values fetched from database-->
    <tbody>
    <tr *ngFor="let leave of pendingLeaves">
      <td>{{leave.employee}}</td>
      <td>{{leave.manager}}</td>
      <td>{{leave.startDate}}</td>
      <td>{{leave.endDate}}</td>
      <td>{{leave.leaveDays}}</td>
      <td>
        <button class="dark_shade_gray" (click)="approveLeaveStatus(leave.id)"> Approve </button>
        <button class="light_blueGreen_shade" (click)="rejectLeaveStatus(leave.id)"> Reject </button>
      </td>
    </tr>

  </table>

</div>
