<div class="global_initial_container">
  <h1>All Employees</h1>
</div>

<div class="global_secondary_container">
  <table>

    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Manager</th>
      <th scope="col">Total Annual Leaves</th>
      <th scope="col">Leave Balance</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <!--TODO: should use ngFor for generating values fetched from database-->
    <tbody>
    <tr  *ngFor="let employee of employeeList">
      <td>{{employee.id}}</td>
      <td >{{employee.name}}</td>
      <td>{{employee.role}}</td>
      <td>{{employee.annualLeave}}</td>
      <td>{{employee.leaveBalance}}</td>
      <td><button class="light_blueGreen_shade">Edit Details</button></td>
    </tr>

  </table>

</div>
