/* spacing */

table {
  width: 1440px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;

  table-layout: fixed;

  border-collapse: collapse;
  border: 3px solid #020202;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 15%;
}


thead th:nth-child(6) {
  width: 15%;
}

table th{
  padding: 5px;
  border: 1px solid black;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

}

table td {
  padding: 5px;
  border: 1px solid black;
}
